* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #79043C;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#destaques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.imagem__painel {
    width: 80%;
    margin-left: 10%;
}

.imagem__painel__segundo {
    width: 50%;
    margin-left: 25%;
}

.imagem__painel2 {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

.texto__topicos {
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.produto {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.prod__texto {
    display: flex;
    justify-content: center;
}

.botao {
    background: #FED5E9;
    border: none;
    margin-left: 37%;
}

.botao2 {
    background: #FED5E9;
    border: none;

}

.botao3 {
    background: #FED5E9;
    border: none;
    height: 3rem;
    width: 100%;
}

footer {
    background-color: #510228;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}